<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <!-- Regola per React Router -->
        <rule name="ReactRouter" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <!-- Se il file NON esiste -->
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <!-- Se la cartella NON esiste -->
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <!-- Reindirizza tutto a index.html -->
          <!-- <action type="Rewrite" url="/avisPastena/index.html" /> -->
          
          <!-- Per avispastena.it / la directory non è la stessa -->
          <action type="Rewrite" url="/cronoWAP/index.html" />
        </rule>
      </rules>
    </rewrite>
    <defaultDocument>
      <!-- Imposta index.html come pagina iniziale -->
      <files>
        <clear />
        <add value="index.html" />
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>
